doctype html
html(lang='ru')
	head
		title greatest page

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade

		section.test
			.container
				p
					input#xlf(type='file', name='xlfile')
				pre#out
				br


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
